/node_modules
/public/hot
/public/storage
/public/js/app.*.js
/public/css/app.*.css
/public/mix-manifest.json
/storage/*.key
/database/seeds/Auth*.php
/database/seeds/Users*.php
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
