// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, Blizzard, Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$border-width: 1px !default;

// $border-radius:          .25rem !default;
// $border-radius-lg:       .3rem !default;
// $border-radius-sm:       .2rem !default;

$border-radius:        0px !default;
$border-radius-lg:       0px !default;
$border-radius-sm:       0px !default;

$navbar-padding-y:                  0px !default;
$navbar-brand-padding-y:            0px !default;

$dropdown-bg:                    #0e1306 !default;

//** Dropdown link text color.
$dropdown-link-color:            rgba(255,255,255,.7) !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      rgba(255,255,255,.7) !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #323945 !default;

//** Dropdown menu `border-color`.
$dropdown-border-color:                rgb(61,67,79) !default;

$modal-inner-bg: #080f06 !default;