
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

		.deathknight { color: #c41f3b; }
		.demonhunter { color: #a330c9; }
		.druid { color: #ff7d0a; }
		.hunter { color: #abd473; }
		.mage  { color: #69ccf0; }
		.monk  { color: #00ff96; }
		.paladin  { color: #f58cba; }
		.priest   { color: #ffffff; }
		.rogue    { color: #fff569; }
		.shaman   { color: #0070de; }
		.warlock  { color: #9482c9; }
		.warrior  { color: #c79c6e; }
